<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd
">


    <!--切面对象-->
    <bean id="myAspect" class="com.ricky.aop.MyAspect"/>

    <!--目标对象-->
    <bean id="target" class="com.ricky.aop.Target"/>

    <!--配置织入：告诉spring框架，哪些切点（方法）需要哪些增强（前置，后置...）-->
    <aop:config>
        <!--声明切面-->
        <aop:aspect ref="myAspect">
            <!--前置增强-->
            <!--<aop:before method="before" pointcut="execution(public void com.ricky.aop.Target.save())"/>-->
            <!--<aop:before method="before" pointcut="execution(* com.ricky.aop.*.*(..))"/>-->
            <!--后置增强-->
            <!--<aop:after-returning method="afterReturning" pointcut="execution(* com.ricky.aop.*.*(..))"/>-->
            <!--环绕增强-->
            <aop:around method="around" pointcut="execution(* com.ricky.aop.*.*(..))"/>
            <!--异常抛出增强-->
            <aop:after-throwing method="afterThrowing" pointcut="execution(* com.ricky.aop.*.*(..))"/>
            <!--最终增强-->
            <aop:after method="after" pointcut="execution(* com.ricky.aop.*.*(..))"/>
        </aop:aspect>
    </aop:config>

</beans>