<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="userMapper">

    <!--查询所有-->
    <select id="findAll" resultType="user">
        select * from user
    </select>

    <!--插入操作-->
    <insert id="save" parameterType="com.ricky.domain.User">
        insert into user values(#{id},#{username},#{password})
    </insert>

    <!--删除操作-->
    <!--<delete id="delete" parameterType="int">-->
    <delete id="delete" parameterType="java.lang.Integer">
        delete from user where id=#{abc}
    </delete>

    <!--修改操作-->
    <update id="update" parameterType="com.ricky.domain.User">
        update user set username=#{username},password=#{password} where id=#{id}
    </update>

    <!--根据id进行查询-->
    <select id="findById" resultType="com.ricky.domain.User" parameterType="int">
        select * from user where id=#{id}
    </select>

</mapper>