<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!--<bean id="student" class="com.ricky.pojo.Student">
        <property name="name" value="张三"/>
        <property name="age" value="19"/>
    </bean>-->

    <!--<bean id="userDao" class="com.ricky.dao.UserDaoImpl"/>

    <bean id="userService" class="com.ricky.service.UserService">
        <property name="userDao" ref="userDao"/>
    </bean>-->

    <bean id="dept" class="com.ricky.bean.Dept">
        <property name="dname" value="老六"/>
    </bean>

    <bean id="emp" class="com.ricky.bean.Emp">
        <property name="ename" value="张三"/>
        <property name="gender" value="男"/>
        <property name="dept" ref="dept"/>
    </bean>


</beans>